.menu-item {
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-item a {
  position: relative;
}

.menu-item a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 2px solid rgb(122, 122, 122);
  bottom: -3px;
  transition: width 0.3s;
}

.menu-item a:hover::before {
  width: 35%;
}

.menu-item a.active::before {
  position: absolute;
  content: "";
  width: 35%;
  height: 1px;
  border-bottom: 2px solid black;
  bottom: -3px;
}
