@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-decoration: none;
  color: inherit;
  overscroll-behavior: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;

  font-family: "Poppins", sans-serif;

  --bg: #ffffff;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 52px;
  line-height: auto;
}

ul,
li {
  list-style: none;
}
